html{
    height: 100%;
}

body{
    padding: 0;
    margin: 0;
    background-color: rgb(14, 13, 13);
}
.allsc{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    z-index: 100;
}
.calcuation{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.half1,.half2{
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: column;
    display: flex;
    justify-content: center;
}
.in,.out,.from-tex,.to-tex{
    padding: 0;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
    font-family: sans-serif;
    
}
.in,.out{
    font-size: 24px;
}
.clip{
    border-radius: 10px;
    width: 400px;
    height: 400px;
    background-color: black;
    color: white;
    font-family: sans-serif;
    
}
.calc{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.io{
    width: calc(100% - 15px);
    margin-left: 15px;
    margin-top: 2%;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.from,.to{
    font-family: sans-serif;
    font-size: 24px;
    color: white;
}
.input,.output{
    margin-top: 10px !important;
    border: 0;
    outline: 0;
    margin-bottom: 16px !important;
    -webkit-appearance: none;
    margin: 0;
    background-color: transparent;
    color: white;
    font-family: sans-serif;
    font-size: 48px;
    width: 100%;
    padding: 0;
    height: 60px;
}
select{
    width: 98%;
    background-color: black;
    color:white;
    outline: 0;
    border: 0;
    padding: 10px;
}
.btns{
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}
.button-calc{
    cursor: pointer;

    font-size: 24px;
    padding: 40px;
    height: min-content;
    color: white;
    background: black;
    border: 0;
    outline: 0;
}
.output{
    font-family: sans-serif;
    font-size: 47px;
    font-weight: 100;
    color: white;
    overflow-x: auto;
}
.cont{
    display: flex;
    flex-direction: row;
}
.con1{
    display: flex;
    flex-direction: column;

}
@media screen and (max-width:600px) {
    .btns{
        scale: 0.5;
    }
    .button-calc{
        font-size: 35px;
    }
    .clip{
        scale: 0.8;
    }
}
.output::-webkit-scrollbar{
    width:2px;
    height:2px;
}
.output::-webkit-scrollbar-track{
    background:black;
    
}
.output::-webkit-scrollbar-thumb{
    background:white;
    
}
